# --- Web framework ---
fastapi
uvicorn[standard]
python-multipart
pydantic
email-validator

# --- Auth ---
python-jose[cryptography]
bcrypt
httpx

# --- Rate limiting ---
slowapi

# --- Database ---
sqlalchemy
psycopg2-binary

# --- Config / env ---
python-dotenv

# --- Caching ---
upstash-redis

# --- Language detection ---
langdetect

# --- Gemini ---
google-genai

# --- Pinecone ---
pinecone

# --- LlamaIndex 
llama-index-core
llama-index-embeddings-google-genai
llama-index-embeddings-jinaai
llama-index-postprocessor-jinaai-rerank
llama-index-vector-stores-pinecone
llama-index-llms-google-genai